body{

}

nav{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background: darkgray;
}

#name{
    width: 33%;
    background: orange;
    padding: 20px;
    margin-left: 50px;
    overflow: auto;
    text-align: center;
    float: left;
}

img{
    width: 300px;
    height: 400px;
    float: left;
    left: 50px;
    margin-right: 20px;
    /* margin-bottom: 20px; */
}

hr{
    margin-bottom: 20px;
}

#about_me{
    float: left;
    width: 600px;
    margin-left: 25px;
}

.clear{
    clear: both;
}